.control-block {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
}
#view-panel, #menu{
    z-index: 10000;
}
.leaflet-container.crosshair-cursor-draw {
    cursor: crosshair !important;
}
#create-button{
    z-index: 1000;
    color: #fff;
}
.btn-menu{
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    padding: 0;
    box-sizing: content-box;
    background-color: #88B04B;
}
.btn-menu:hover{
    background-color: #6ea31f;
}
#menu .create-panel{
    padding: 0;
    margin: 0px -20px;
}
#menu .create-panel a{
    border-radius: 0;
}
.close-view{
    text-align: right;
    color: #000 !important;
}
.btn-open-view{
    z-index: 9000;
    height: 35px;
    position: absolute;
    right: 10px;
    background-color: #88B04B;
    color: #fff !important;
    line-height: 35px;
    padding: 0;
    padding: 0 10px;
}
.btn-open-view i{
    color: #fff;
}
.view-container{
    padding: 0 0 0 25px;
}
.view-container .card{
overflow: auto
}
.btn-access-admin{
    z-index: 9000;
    float: left;
    height: 35px;
    position: absolute;
    width: 42px;
    right: 10px;
    background-color: #88B04B;
    color: #fff !important;
    line-height: 35px;
    padding: 0;
    padding: 0 10px;
    top: 50px;
}
.btn-access-user{
    z-index: 9000;
    height: 35px;
    position: absolute;
    width: 42px;
    right: 10px;
    background-color: #88B04B;
    color: #fff !important;
    line-height: 35px;
    padding: 0;
    padding: 0 10px;
    top: 90px;
}
.cbx {
    -webkit-perspective: 20;
    perspective: 20;
    margin: 0 5px;
    border: 2px solid #e8e8eb;
    background: #e8e8eb;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
}
.cbx:hover {
    border-color: #0b76ef;
}
.flip {
    display: block;
    transition: all 0.4s ease;
    transform-style: preserve-3d;
    position: relative;
    width: 20px;
    height: 20px;
}
[id^="cbx"] {
    display: none;
}
[id^="cbx"]:checked + .cbx {
    border-color: #0b76ef;
}
[id^="cbx"]:checked + .cbx .flip {
    transform: rotateY(180deg);
}
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.front {
    background: #fff;
    z-index: 1;
}
.back {
    transform: rotateY(180deg);
    background: #0b76ef;
    text-align: center;
    color: #fff;
    line-height: 20px;
    box-shadow: 0 0 0 1px #0b76ef;
}
.back svg {
    margin-top: -5px;
    fill: none;
}
.back svg path {
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}
body {
    webkit-font-smoothing: antialiased;
}
.filters > div{
    padding: 10px 0px;
    margin: 0 -10px;
}
.filters > div > span{
    position: relative;
    top: -7px;
}
.sel {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}