<div class="modal fade" id="cardModalForm" tabindex="-1" role="dialog" aria-labelledby="cardModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Подробности</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      <div class="modal-body">
        <form id="cardIssueForm">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="row"><strong>{{this.card.title}}</strong></div>
                <div class="row">{{this.card.description}}</div>
                <hr>
                <div v-if="this.card.status" class="row">{{this.card.status.name}}</div>
                <hr>
                <div v-if="this.card.created" class="row" style="color:gray; font-size: 14px;">Создано: {{new Intl.DateTimeFormat('ru-RU',{
                    year: 'numeric', month: 'numeric', day: 'numeric',
                    hour: 'numeric', minute: 'numeric', hour12: false
                }).format(new Date(this.card.created))}}</div>
              </div>
              <div class="col">
                  <div class="row" v-for="category in this.card.categories">{{category.name}}</div>
                  <hr>
                  <div class="row" v-for="authority in this.card.authorities"><ul ><li v-for="(value, key) in authority" v-if="value && key != 'id'">{{value}}</li></ul></div>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>