@views.html.base() {
    <div id="app">
        <div class="row control-block">
            <div class="menu-container col-3">
                <div v-bind:style="cardStyle" class="card card-default col-12 float-left" id='menu'>
                    @views.html.map.menu()
                </div>
            </div>
            <div class="view-container col-9">
                <div v-bind:style="viewStyle" class="card card-default col-12 float-right" id="view-panel" v-if="visibleViewPanel">
                    <a class="btn close-view" v-on:click="toggleViewPanel"><i class="fas fa-times"></i></a>
                    @views.html.issue.list()
                </div>
            </div>
            <a class="btn btn-open-view" v-on:click="openView('list')"><i class="fas fa-bars"></i> Меню</a>
            <a class="btn btn-access-admin" v-on:click="getAccess('Admin')"><i class="fas fa-user-cog"></i></a>
            <a class="btn btn-access-user" v-on:click="getAccess('User')"><i class="fas fa-user-alt"></i></a>
        </div>
        <div v-bind:style="mapStyle" id="map"></div>
        <div id="form-container">
            @views.html.issue.create()
            <!-- @views.html.issue.card() -->
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                cardStyle: {
                    height: null
                },
                mapStyle: {
                    height: null
                },
                viewStyle: {
                    height: null
                },
                filters: {

                },
                card: {
                    title: null,
                    description: null,
                    categories:[{}],
                    authorities:[{}]
                },
                issues: [],
                popup : null,
                layer : null,
                map : null,
                visibleMenu : true,
                drawMode : false,
                groups : [],
                tempGroup : null,
                zoom : null,
                visibleViewPanel: false,
                issueForm: {
                    lat: 0,
                    lon: 0,
                    category: null
                },
                categories: [],
                selected: ''
            },
            methods: {
                formToJSON: function(form) {
                    var unindexed_array = form.serializeArray();
                    var indexed_array = {};

                    $.map(unindexed_array, function(n, i) {
                        indexed_array[n['name']] = n['value'];
                    });
                    return indexed_array;
                },
                send: function (url, type, data, callback, header) {

                    if (!header) {
                        header = {
                            "Content-Type": "application/json"
                        }
                    }

                    $.ajax({
                        url: url,
                        type: type,
                        data: JSON.stringify(data),
                        headers: header,
                        context:this,
                        dataType: 'json',
                        success: callback
                    });
                },
                saveSelectToForm: function(e) {
                    var position = e.target.selectedIndex;
                    this.issueForm.category = $('#issueCategorySelectForm option')[position].val();
                },
                drawModeEnable: function(mode) {
                    this.drawMode = mode;
                    L.DomUtil.addClass(this.map._container,'crosshair-cursor-draw');
                },
                getForm: function(latlng) {
                    this.issueForm.lat = latlng.lat;
                    this.issueForm.lon = latlng.lng;
                    $('#form-container .modal').modal();
                },
                getIssueCard: function(issue){
                    this.card = issue.options;
                    $('#form-container .modal').modal();
                },
                createIssue: function() {
                    var data = this.formToJSON($('#createIssueForm'));
                    this.send('@api.v1.routes.IssueController.create()', 'POST', data, function(id){
                        var options = {
                            icon : L.AwesomeMarkers.icon({
                                icon: this.categories[data.category - 1].icon,
                                prefix: 'fa',
                                markerColor: this.categories[data.category - 1].color,
                                spin: false})
                        };
                        var marker = L.marker(L.latLng(data.lat, data.lon), options);
                        marker.addTo(this.group); //TODO
                        $('#form-container .modal').modal('hide');
                    });
                },
                showCoordinates: function(e) {
                    alert(e.latlng);
                },
                pastePoint: function(e) {
                    if (this.drawMode) {
                        if (this.drawMode == 'point') {
                            this.newMarker(e.latlng, 'Новая метка', 'new');
                        }
                        if (this.drawMode == 'road') {
                        }
                        if (this.drawMode == 'polygon') {
                        }
                        this.drawMode = false;
                        L.DomUtil.removeClass(this.map._container,'crosshair-cursor-draw');
                    }
                },
                toggleViewPanel: function(e) {
                    this.visibleViewPanel = !this.visibleViewPanel;
                },
                openView: function(view) {
                    if (view == 'list') {
                        this.load(function(data) {
                            vm.issues = data;
                        });
                        this.toggleViewPanel();
                    }
                },
                newMarker: function(latlng) {
                    var options = {
                        icon : L.AwesomeMarkers.icon({
                            icon: 'plus',
                            prefix: 'fa',
                            markerColor: 'red',
                            spin: false
                        })
                    };
                    var tempMarker = L.marker(latlng, options);
                    tempMarker.addTo(this.tempGroup);
                    this.getForm(latlng)
                },
                addMarker: function(options) {
                    var category = options.categories;
                    if (category.length != 0) {
                        options.icon = L.AwesomeMarkers.icon({
                            icon: category[0].icon,
                            prefix: 'fa',
                            markerColor: category[0].color,
                            spin: false
                        });
                    } else {
                        options.icon = L.AwesomeMarkers.icon({
                            icon: 'question',
                            prefix: 'fa',
                            markerColor: 'orange',
                            spin: false
                        });
                    }
                    var latlng = L.latLng(options.lat, options.lon);
                    var marker = L.marker(latlng, options);

                    var popup = `<b>${marker.options.title}</b> <i>(${marker.options.status.name})</i><br>`;
                    marker.options.categories.forEach(function(category) {
                        popup += `<br>- ${category.name}`;
                    });
                    popup += `<br><br>Заявка: ${options.id}`;
                    var created = new Intl.DateTimeFormat('ru-RU').format(new Date(marker.options.created));
                    popup += `<br><br><div style="color:gray">Создана: ${created}</div>`;
                    marker.bindPopup(popup);
                    marker.on('mouseover', function (e) {
                        this.openPopup();
                    });
                    marker.on('mouseout', function (e) {
                        this.closePopup();
                    });

                    marker.on('click', function(e) {})
                    if (!this.groups[category[0].id]) {
                        this.groups[category[0].id] = new L.featureGroup();
                        this.groups[category[0].id].addTo(this.map);
                    }
                    marker.addTo(this.groups[category[0].id]);
                },
                centerMap: function(e) {
                    this.map.panTo(e.latlng);
                },
                zoomIn: function(e) {
                    this.map.zoomIn();
                },
                zoomOut: function(e) {
                    this.map.zoomOut();
                },
                onResize: function() {
                    this.cardStyle.height = window.innerHeight - 36 + 'px';
                    this.viewStyle.height = window.innerHeight - 36 + 'px';
                    this.mapStyle.height = window.innerHeight + 'px';
                },
                forEachLoad: function(callback) {
                    $.get('@api.v1.routes.IssueController.list()', function(data) {
                        data.forEach(callback, vm);
                    });
                },
                load: function(callback){
                    $.get('@api.v1.routes.IssueController.list()', callback);
                },
                loadIssueCategory: function() {
                    $.get('@api.v1.routes.IssueCategoryController.list()', function(data) {
                        data.forEach(function(category) {
                           this.categories.push(category)
                        }, vm);
                    });
                },
                loadHouse: function(latMin, lonMin, latMax, lonMax){
                    $.get('/api/v1/house/all', {
                        latMin : latMin,
                        lonMin : lonMin,
                        latMax : latMax,
                        lonMax : lonMax
                    }, function(data) {
                        var latlngs = [];
                        data.forEach( function(dirtyPolygons){
                            var polygons = dirtyPolygons.polygon.slice(10, -2).split(',').map(function(latLng){
                                return latLng.split(' ');
                            });
                            latlngs.push(polygon);
                        });
                        var polygon = L.polygon(latlngs, {color: 'red'});
                        polygon.addTo(this.map);
                    });
                },
                getAccess: function(access) {
                    if(access=='Admin'){
                        $.get('@api.v1.routes.ApiController.loginAsAdmin()', function(data) {});
                    } else {
                        $.get('@api.v1.routes.ApiController.loginAsUser()', function(data) {});
                    }
                },
                toggleCategories: function(id, e) {
                    var state = e.target.checked;
                    if (state) {
                        this.groups[id].addTo(this.map)
                    } else {
                        this.groups[id].removeFrom(this.map)
                    }
                },
                clearTempLayer: function(e) {
                    this.tempGroup.clearLayers();
                }
            },
            mounted: function () {
                this.$nextTick(() => {
                    this.popup = new L.Popup();
                    this.layer = new L.TileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                        id: 'mapbox.streets',
                        maxZoom: 18,
                        minZoom: 14,
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        accessToken: 'pk.eyJ1IjoibGZvcmltIiwiYSI6ImNqa2d6eXZ6ejBkNzUza2xod3d6M2Z5dzQifQ.9D55ohFuy_MoCvxW50HSXA'
                    });
                    this.map = new L.Map('map', {
                        center: new L.LatLng(55.438944, 65.339271),
                        zoom: 16,
                        zoomControl: false,
                        layers: [this.layer]
                    });
                    this.tempGroup = new L.featureGroup();
                    this.tempGroup.addTo(this.map);
                    this.zoom = L.control.zoom({
                        position: 'bottomright'
                    });
                    this.zoom.addTo(this.map);
                    L.DomUtil.addClass(this.map._container, 'crosshair-cursor-default');
                    $(window).on('resize', this.onResize);
                    this.map.on('click', this.pastePoint);
                    $(window).on('hide.bs.modal', this.clearTempLayer);
                    this.onResize();
                    setInterval(function(vm) {
                        vm.map.invalidateSize();
                    }, 250, this);
                    this.forEachLoad(function(marker) {
                        this.addMarker(marker);
                    });
                    this.loadIssueCategory();
                });
            }
        });
    </script>
}
