<div class="card-body">
    <div class="row label">
        <span>Добавить:</span>
    </div>
    <div class="row create-panel">
        <a class="btn btn-menu btn-marker col" title="Точка" id="create-button" v-on:click="drawModeEnable('point')">
            <i class="fas fa-map-marker"></i> <span>Точка</span>
        </a>
        <a class="btn btn-menu btn-road col" title="Дорога" id="create-button" v-on:click="drawModeEnable('road')">
            <i class="fas fa-road"></i> <span>Дорога</span>
        </a>
        <a class="btn btn-menu btn-polygon col" title="Участок" id="create-button" v-on:click="drawModeEnable('polygon')">
            <i class="fas fa-draw-polygon"></i> <span>Участок</span>
        </a>
    </div>
    <div class="clearfix"></div>
    <div class="filters">
        <div class="col-12" v-for="category in categories">
            <input id="cbx" type="checkbox" checked/>
            <label class="cbx" for="cbx">
                <div class="flip">
                    <div class="front"></div>
                    <div class="back">
                        <svg width="16" height="14" viewBox="0 0 16 14">
                        <path d="M2 8.5L6 12.5L14 1.5"></path>
                        </svg>
                    </div>
                </div>
            </label>
            <span>{{category.name}}</span>
        </div>
    </div>
</div>
